<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>lab 2</title>
	
	
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
		
		<script src="http://code.jquery.com/jquery.js"></script>
		<script scr="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
		<script src="../chartist.min.js"></script>
	</head>
	
	<body>
		<div class="ct-chart ct-perfect-fourh"></div>
		<script>
			var authors = '{{ authors | tojson}}';
			var counts = '{{ counts | tojson}}';
			var total = '{{ total | tojson }}';
			var topic = '{{ topic }}';

			console.log("authors : ", authors);
			console.log("counts : ", counts);
			console.log("total : ", total);
			console.log("topic : ", topic);

			var authors = JSON.parse(authors);
			var counts = JSON.parse(counts);

			// coments_count = parseInt(coments_count);
			// total_comments = parseInt(total_comments);
			// topics = JSON.parse(topics);
			// messages_in_topics = JSON.parse(messages_in_topics);

			// var username = '{{ username }}';
			// var total_text = "Total messages";
			// var username_text = username + "'s messages";

			var chart = new Chartist.Bar('.ct-chart', {
					labels: authors,
					series: [
						counts
					],
					
				}, {
					seriesBarDistance: 60,
					height: 600,
					width: 800
				});	
		</script>
		<div class="jumbotron">
		
			<table border="1">
				<caption>{{topic}}'s info</caption>
				<tr>
					<th>Author</th>
					
					<th>Comments count</th>
				</tr>
				{% for i in range(counts|length) %}
					<tr>
						<td>{{authors[i]}}</td>
						
						<td>{{counts[i]}}</td>
					</tr>
					
				{% endfor %}				
			</table>

			<p>Total messages : {{total}}</p>
		</div>
		
	
		<a href="/">Go to index page: </a>

	</body>
 
</html>