<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>lab2</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
 
<body>
    <div class="jumbotron">
		<div class="content">
			<div class="ml-1 px-2">
				<button onclick="window.location.href='/'" type="button" class="btn btn-outline-dark">Back</button>
			</div>
			<hr>
			<div class="error text-center">
				<h1>Sorry, there some error:</h1>
				<h2>{{message}}</h2>
			</div>
		</div>
    </div>
</body>
 
</html>