<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>lab2</title>
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery.js"></script>
 
</head>
 
<body>
 
    <div class="container">
 
        <div class="jumbotron">
            <h1>Search info by topic</h1>
            <div class="content">
                <h4>All topics list:</h4>
                {% for value in topics %}
                    <p>
                        <a href="/search/topic?value={{value}}">{{ value }}</a>
                    </p>
                {% endfor %}
            </div>
            <h1>Search info by user</h1>
            <form action = "http://localhost:5000/search/user" method="POST">
                <p>Username<input type="text" name="username"/></p>
                <p><input type="submit" value="search"/></p>
            </form>
            <div class="content">
                <h4>All users list:</h4>
                {% for value in result %}
                    <p> {{ value }} </p>
                {% endfor %}
            </div>


        </div>
 
    </div>
</body>
 
</html>